/* Header Section */
.main-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: var(--fundo-z4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1B293F;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
}

.main-navbar .logo img {
    width: 120px;
    height: auto;
}

.main-navbar .nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
}

.main-navbar .nav-list li {
    display: block;
    margin: 0px 15px;
}

.main-navbar .nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: all 0.3s;
}

.main-navbar .nav-list li a:hover {
    color: var(--amarelo-z4);
}

.junte-se-btn .btn-join-us {
    background-color: white;
    color: var(--fundo-z4);
    padding: 10px;
    border-radius: 25px;
    font-weight: 600;
    font-size: 12px;
}

.junte-se-btn .btn-join-us:hover {
    background-color: var(--amarelo-z4);
}

.hamburguer-btn {
    display: none;
}