@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    --fundo-z4: #081F3E;
    --amarelo-z4: #FFEA00;
    --darkBk: #191919;
}

/* Código reutilizavel INICIO */
button {
    padding: 10px;
    background-color: #FFEA00;
    color: #081F3E;
    border: none;
    font-size: 15px;
    border-radius: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background-color: white;
    color: var(--fundo-z4);
}

section .section-header{
    max-width: 700px;
    text-align: center;
    padding-bottom: 50px;
    margin: 0px auto;
}

section .section-header h3{
    font-size: 22px;
    letter-spacing: 2px;
    color: var(--fundo-z4);
}

section .section-header h1{
    font-size: 42px;
    color: var(--fundo-z4);
    margin: 5px 0px 15px;
}

/* Código reutilizavel FIM */


body {
    width: 100%;
    min-height: 100vh;
}

.land-wrapper {
    width: 100%;
    max-width: 1400px;
    min-height: 100vh;
    margin: 0px auto;
    background-color: white; /* FUNDO BACKGROUND SECTION*/
}

section.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0px 8%;
    background: url('img/banner3.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home .home-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

/* navbar */
.main-navbar {
    position: absolute;
    width: 100%;
    height: 12vh;
    max-height: 80px;
    top: 0;
    left: 0;
    padding: 0px 8%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    z-index: 100;
    transition: all 0.3s;
}

.main-navbar .logo img {
    width: 120px;
    height: auto;
}

.main-navbar .nav-list {
    list-style: none;
}

.main-navbar .nav-list li {
    display: inline-block;
    /*deixa alinhado horinzontal*/
    margin: 0px 15px;
}

.main-navbar .nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: all 0.3s;
}

.main-navbar .nav-list li a:hover {
    /* PENDENTE LISTRA AMARELA EM BAIXO */
    color: var(--amarelo-z4);
}

.hamburguer-btn {
    user-select: none;
    cursor: pointer;
    display: none;
    /* desaparece */
}

.hamburguer-btn span {
    /* icon de hamburguer */
    display: block;
    width: 26px;
    height: 2px;
    background-color: white;
    margin: 6px auto;
    transition: all 0.3s;
}

.banner {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 80px);
    /* centraliza o text */
    top: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.banner-conteudo {
    position: relative;
    max-width: 700px;
    top: -55px;
    text-align: center;
}


.banner-conteudo h2 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 400;
    /* color */
}

.banner-conteudo h1 {
    color: white;
    margin: 20px 0px;
    font-size: 52px;
    line-height: 1.3;
    text-transform: uppercase;
    font-weight: 500;
}

.banner-conteudo p {
    color: white;
}

.btn-ler-mais {
    margin-top: 30px;
    font-size: 17px;
}
/* Section HOME estilo Final*/



/* Facilities Section estilo Inicio*/
/* 3 Colunas */
section.facilities{
    width: 100%;
    padding: 0px 8% 0px;
}

.facilities .facilities-conteudo{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* faz os 3 colunas com grid */
    grid-column-gap: 2%;
    top: -80px;
    z-index: 3;
}

.facilities-conteudo .facilities-item{
    padding: 25px 30px 30px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.facilities-item .facilities-icon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--fundo-z4);
}

.facilities-item .facilities-desc{
    text-align: center;
    margin-top: 25px;
}

.facilities-item .facilities-icon i{
    font-size: 22px;
    color: white;
}

.facilities-item .facilities-desc h2{
    margin-bottom: 10px;
    color: var(--darkBk);
    font-size: 22px;
    text-transform: uppercase;
}

.facilities-item .facilities-desc p {
    line-height: 1.4;
    color: #5e5858;
}
/* Facilities Section estilo Final*/



/* SOBRE Section inicio estilo*/
section.sobre{
    width: 100%;
    padding: 50px 8% 20px;
}

.sobre .sobre-conteudo{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 40px 5%;
}

.sobre-conteudo .sobre-coluna-esquerda{
    position: relative;
    width: 100%;
    height: 100%;
}

.sobre-conteudo .sobre-coluna-esquerda img{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

.sobre-conteudo .sobre-coluna-esquerda::before {
    position: absolute;
    content: '';
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    top: -10px;
    left: -10px;
    z-index: 1;
}


.sobre-conteudo .sobre-coluna-direita{
    position: relative;   
}

.sobre-conteudo .sobre-coluna-direita h4{
    font-size: 18px;
    color: var(--amarelo-z4);
    letter-spacing: 3px;
    text-transform: uppercase;
}

.sobre-conteudo .sobre-coluna-direita h1{
    font-size: 42px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    margin: 5px 0px 15px;
    text-transform: uppercase;
}

.sobre-conteudo .sobre-coluna-direita p{
    color: rgb(117, 100, 100);
}

.sobre-coluna-direita .sobre-estados{ 
    display: flex;
    margin-top: 40px;
}

.sobre-coluna-direita .sobre-estados .sobre-estados{
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.sobre-estados .sobre-estados i{
    margin-bottom: 10px;
    font-size: 36px;
    color: #081F3E;
}

.sobre-estados .sobre-estados h2{
    color: var(--fundo-z4);
    font-size: 22px;
    font-weight: 500;
}

.sobre-estados .sobre-estados-1{
    margin-right: 20px;
}
/* SOBRE Section estilo Final*/


/* Servicos Section estilo iniciado*/
section.servicos{
    width: 100%;
    padding: 80px 8% 60px;
}

.servicos .servicos-conteudo{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.servicos-conteudo .servico-box{
    display: flex;
    padding: 20px;
    background-color: var(--amarelo-z4);
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s;
}

.servicos-conteudo .servico-box:hover{
    transform: translateY(-3px); /* efeito de suavemente levantando a box */
}

.servico-box .servico-icon-box{
    min-width: 60px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    border-radius: 50%;
    background-color: #fae7e1;
    outline: 1px solid #fae7e1;
    margin: 10px 10px 0px 10px;
}

.servico-box .servico-icon-box i{
    font-size: 26px;
    color: var(--fundo-z4);
}

.servico-box .servico-desc{
    margin-left: 25px;
    flex-basis: 1;
}

.servico-box .servico-desc h2{
    color: var(--fundo-z4);
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 8px;
}

.servico-box .servico-desc p{
    font-style: 15px;
    color: var(--darkBk);
    line-height: 1.4;
}
/* Servicos Section estilo Finalizado*/



/* Oferta Section estilo Iniciado*/
section.oferta{ /* AJUSTAR */
    position: relative;
    width: 100%;
    padding: 100px 8%;
    background: url(img/mae.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.oferta .oferta-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.oferta .oferta-conteudo{
    position: relative;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.oferta .oferta-conteudo h1{
    font-size: 42px;
    color: whitesmoke;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}

.oferta .oferta-conteudo span{
    margin: 10px 0px;
    color: whitesmoke;
    font-size: 32px;
}

.oferta .oferta-conteudo h3{
    font-size: 24px;
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.oferta .oferta-conteudo .start-training-btn{
    margin-top: 40px;
    padding: 12px 30px;
    font-size: 16px;
}
/* OFERTA Section estilo Finalizado*/


/* EQUIPE Section estilo iniciado*/
section.equipe{
    width: 100%;
    padding: 80px 8% 20px;
}

.equipe .equipe-conteudo{
    max-width: 1068px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin: 0 auto;
}

.equipe-conteudo .treinador-card{ /* mudar tamahho da imagem */
    position: relative;
    max-width: 350px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    overflow: hidden;
}

.treinador-card .treinador-image{
    width: 100%;
    display: block;
    border-radius: 5px 5px 0px 0px;
}

.treinador-card .treinador-image img{
    width: 100%;
    height: 300px;
    object-fit: cover; /* MUDAR A IAMGEM */
    object-position: center;
}

.treinador-card .treinador-desc{
    padding: 10px 0px;
}

.treinador-card .treinador-desc h2{
    font-size: 22px;
    font-weight: 600;
    color: var(--fundo-z4);
}

.treinador-card .treinador-desc p{
    color: var(--darkBk);
    margin-top: 5px;
}

.treinador-card .treinador-contato{
    position: absolute;
    top: calc(50% - 50px);
    /*right: 0;*/
    right: -100%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: rgb(28, 230, 129);
    padding: 15px 10px;
    border-radius: 5px 0px 0px 5px;
    transition: 0.3s;
}

.equipe-conteudo .treinador-card:hover .treinador-contato{
    right: 0;
}

.treinador-card .treinador-contato a{
    text-decoration: none;
    color: var(--darkBk);
}

.treinador-card .treinador-contato a:not(:last-child){
    margin-bottom: 15px;
}

.treinador-card .treinador-contato a i {
    font-size: 20px;
    color: var(--darkBk);
    transition: 0.3s;
}

.treinador-card .treinador-contato a i:hover{
    transform: scale(1.2);
}
/* EQUIPE Section estilo finalizado*/


/* PRECOS Section estilo iniciado*/
section.precos{
    width: 100%;
    padding: 80px 8% 20px;
}

.precos .precos-conteudo{
    width: 100%;
    max-width: 1068px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 25px;
    margin: 0px auto;
}

.precos-conteudo .preco-card{
    position: relative;
    text-align: center;
    background-color: grey;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.precos-conteudo .preco-card:hover{
    transform: scale(1.04);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.preco-card .preco-card-header{
    width: 100%;
    height: 140px;
    position: relative;
    border-radius: 10px 10px 0px 0px;
    background-color: var(--fundo-z4);
}

.preco-card-header .preco-card-titulo{
    font-size: 24px;
    color: whitesmoke;
    text-transform: uppercase;
    position: relative;
    top: 30px;
}

.preco-card-header .preco-circulo{
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: var(--amarelo-z4);
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.preco-card-header .preco-circulo .preco{
    font-size: 28px;
    font-weight: bold;
    color: var(--fundo-z4);
}

.preco-card-header .preco-circulo .preco i{
    font-size: 18px;
    font-style: normal;
}

.preco-card-header .preco-circulo .desc {
    font-size: 12px;
    font-weight: bold;
    color: rgb(16, 18, 129);
}

.preco-card .preco-card-body{
    padding: 25px 0px 40px;
    background-color: whitesmoke;
}

.preco-card-body ul{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.preco-card-body ul li{
    list-style: none;
    font-size: 15px;
    color: var(--fundo-z4);
}

.preco-card-body ul li:not(:last-child){
    margin-bottom: 20px;
}

.preco-card-body ul li i{
    color: var(--fundo-z4);
    margin-right: 8px;
}

.preco-card-body .preco-plano-btn{
    margin-top: 35px;
    padding: 12px 26px;
}

.preco-card:nth-child(2) .tag-box{
    position: absolute;
    width: 200px;
    padding: 10px;
    background-color: var(--amarelo-z4);
    transform: rotate(-45deg);
    left: -57px;
    top: 25px;
}

.preco-card:nth-child(2) .tag-box .tag{
    font-size: 13px;
    font-weight: bold;
    color: var(--fundo-z4);
}
/* PRECOS Section estilo Finalizado*/



/* FOOTER Section estilo Iniciado*/
section.pagina-footer{
    width: 100%;
    padding: 70px 8% 50px;
    background-color: var(--darkBk);
    color: gray;
}

.footer-conteudo{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    grid-gap: 40px;
}

.footer-conteudo .footer-col{
    display: flex;
    flex-direction: column;
}

.footer-conteudo .footer-col-titulo{
    margin-bottom: 20px;
}

.footer-conteudo .footer-col-titulo h3{
    font-size: 24px;
    text-transform: capitalize;
}

.footer-conteudo .footer-col-desc{
    display: flex;
    flex-direction: column;
}

.footer-col-1 .footer-col-desc p {
    line-height: 1.4;
    color: white;
}

.footer-col-1 .footer-col-desc span{
    color: red;
    margin-bottom: 17px;
    display: inline-block;
}

.footer-col-1 .footer-col-desc span:nth-child(1){
    margin-top: 15px;
}

.footer-col-1 .footer-social-media{
    display: flex;
    margin-top: 20px;
}

.footer-col-1 .footer-social-media a{
    text-decoration: none;
    color: var(--amarelo-z4);
    margin-right: 10px;
}

.footer-col-1 .footer-social-media a i{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: var(--fundo-z4);
    color:aliceblue;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: all 0.3s;
}

.footer-col-1 .footer-social-media a i:hover{
    background-color: transparent;
    border: 1px solid var(--amarelo-z4); /* amarelo quando passa o mouse MUDAR DPS */
    color: rgb(255, 0, 0);
}

.footer-col-2 .footer-col-desc a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    margin-bottom: 16px;
    transition: 0.3s;
}

.footer-col-2 .footer-col-desc a:hover{
    color: red;
    
}
/* FOOTER Section estilo Finalizado*/


/* Inicio das Media Querys */
@media(max-width: 968px) {
    /* section home */
    .main-navbar .nav-list li{
        margin: 0px 10px;
    }
    /* EQUIPE SECTION */
    .equipe .equipe-conteudo{
        max-width: 650px;
        grid-template-columns: 1fr;
    }
    /* PRECOS Sections */
    .precos .precos-conteudo{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 868px) {
    /* home Section */
    .main-navbar .hamburguer-btn {
        display: block;
        margin-left: 30px;
        z-index: 101;
        /* hamburguer aparece */
    }

    .main-navbar .nav-list {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        /*right: 0; Deixa sobreposto o bkground em tudo do banner (retirar dps)*/
        right: -100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--darkBk);
        transition: right 0.3s;
        z-index: 100;
    }

    .home .main-navbar .nav-list.active{ /* chama o navlist com Background colocor e os Li > a */
        right: 0;
    }

    .home .main-navbar .nav-list li {
        margin: 25px 0px 0px;
    }

    .home .main-navbar .nav-list li:nth-child(1) {
        margin-top: 180px;
    }

    .home .main-navbar .nav-list li a {
        font-size: 18px;
        letter-spacing: 2px;
    }

    .home .main-navbar .junte-se-btn {
        margin-left: auto;
    }

    /* ICON 'X' no hamburguer quando tiver desativado */
    .main-navbar .hamburguer-btn.active span:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .main-navbar .hamburguer-btn.active span:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .main-navbar .hamburguer-btn.active span:nth-child(2){
        transform: translateX(-30px);
        opacity: 0;
    }
    /* Section Facilities */
    .facilities .facilities-conteudo{
        grid-template-columns: repeat(2, 1fr); /* 2 coluna em 868px*/
        grid-gap: 25px 20px;
    }
    /* SOBRE section */
    .sobre .sobre-conteudo{
        grid-template-columns: 1fr;
        grid-gap: 25px 0px;
    }
    .sobre-conteudo .sobre-coluna-esquerda{
        max-height: 500px;
    }

    .sobre-conteudo .sobre-coluna-direita h1{
        font-size: 32px;
    }

    .sobre-coluna-direita .sobre-estados .sobre-estados{
        flex-basis: 100%; 
    }

    /* Servicos Section */
    .servicos-conteudo .servico-box{
        flex-direction: column;
    }

    .servico-box .servico-icon-box{
        align-self: center;
    }

    .servico-box .servico-desc { 
        text-align: center;
        margin-left: 0px;
        margin-top: 25px;
    }
}

@media(max-width: 668px) {
    /* Servicos Section */
    .servicos .servicos-conteudo{
        grid-template-columns:  1fr;
    }
    /* EQUIPE SECTION */
    .equipe .equipe-conteudo{
        max-width: 300px;
        grid-template-columns: 1fr;
        grid-gap: 20px 0px;
    }
    /* PRECOS Section */
    .precos .precos-conteudo{
        grid-template-columns: 1fr;
    }

}

@media(max-width: 568px) {
    /*Home section */
   .banner .banner-conteudo h2{
    font-size: 20px;
    }
    .banner .banner-conteudo h1{
        font-size: 40px;
    }
 /* Section Facilities */
    .facilities .facilities-conteudo{
        grid-template-columns: 1fr; /* 1 coluna em 568*/
        grid-gap: 25px 0px;
    }
 /* SOBRE Section */
    .sobre-conteudo .sobre-coluna-direita .sobre-estados{
        flex-direction: column;
        align-items: center;
    }

    .sobre-estados .sobre-estados-1{
        margin-right: 0px;
        margin-bottom: 15px;
    }

     /* Sections Heading */
     section .section-header h1{
        font-size: 32px;
     }
}